[submodule "henrybk-plugins"]
    path = submodules/henrybk-plugins
    url = https://github.com/Henrybk/Plugins
[submodule "andyfoss-plugins"]
    path = submodules/andyfoss-plugins
    url = https://github.com/andyfoss/plugins-openkore

    