---
---

@import "{{ site.theme }}";

body{
    background-image: url(https://pre00.deviantart.net/76a0/th/pre/f/2010/088/e/a/poring_sketch_by_diaszoom.png);
}

.page-header {
    background-color: transparent;
    background-image: none;
    color: #000;
}

.main-content{
    background-color: #fff;
    background-image: none;
}

.btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    align-items: flex-start;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    font: 400 13.3333px Arial;
    
}

.btn:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
